@CHARSET "UTF-8";

/* GENERAL ----------------------------------------------------*/
html {
  background-color: #FFFFFF;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font:100% verdana, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 1.4em;
}
body.print {background-color: #ffffff;}

a {color: #3399cc;margin: 0;padding: 0;}
a:hover {color: #333;}
a:focus {outline: none; }
a img {border: 0;padding: 0;}

.bold, b    {font-weight: bold !important;}
.italic, i  {font-style: italic !important;}
.ttup       {text-transform: uppercase !important;}
.over       {cursor: pointer !important;}
.out        {cursor: default !important;}
.nowrap     {white-space: nowrap !important;}
.off        {display: none !important;}
.on         {display: block !important;}
.allwidth   {width: 100% !important;}
.halfwidth  {width: 50% !important;}
.allheight  {height: 100% !important;}
.halfheight {height: 50% !important;}
.zerowidth  {width: 0 !important;}
.zeroheight {height: 0 !important;}
.aLeft      {text-align: left !important;}
.aCenter    {text-align: center !important;}
.aRight     {text-align: right !important;}
.border     {border: solid 1px #000 !important;}
.less       {font-size: 85% !important;}
.larger     {font-size: 115% !important;}
.vaTop      {vertical-align: top !important;}
.vaMiddle   {vertical-align: middle !important;}
.vaBottom   {vertical-align: bottom !important;}
.bgno       {background: none !important;}
.pozAbs     {position:absolute !important;}
.pozRel     {position:relative !important;}
.au         {text-decoration: underline !important;}
.an         {text-decoration:none !important;}
.fLeft		{float:left;}
.fRight		{float:right;}

.black      {color: #000000 !important;}
.blackText  {color: #000000 !important;}
.red        {color: #ff3399 !important;}
.redText    {color: #ff3399 !important;}

.bgBlack  {background-color: #000000 !important;}
.bgGrey   {background-color: #cccccc !important;}
.bgWhite  {background-color: #ffffff !important;}
.bgOrange {background-color: #f19009 !important;}
.bgBlue   {background-color: #249cd3 !important;}

.t0 {margin-top:0!important;padding-top:0!important;}
.r0 {margin-right:0!important;padding-right:0!important;}
.b0 {margin-bottom:0!important;padding-bottom:0!important;}
.l0 {margin-left:0!important;padding-left:0!important;}

/* begin: margin ******************* * * */
/* Top ****/ .mt5  {margin-top: 5px !important;}
/* Top ****/ .mt10 {margin-top: 10px !important;}
/* Top ****/ .mt15 {margin-top: 15px !important;}
/* Top ****/ .mt20 {margin-top: 20px !important;}
/* Top ****/ .mt30 {margin-top: 30px !important;}
/* Left ***/ .ml10 {margin-left: 10px !important;}
/* Left ***/ .ml20 {margin-left: 20px !important;}
/* Left ***/ .ml30 {margin-left: 30px !important;}
/* Right **/ .ml15 {margin-right: 15px !important;}
/* Left ***/ .mr10 {margin-left: 10px !important;}
/* Right **/ .mr15 {margin-right: 15px !important;}
/* Right **/ .mr20 {margin-right: 20px !important;}
/* Right **/ .mr25 {margin-right: 25px !important;}
/* Bottom */ .mb1  {margin-bottom: 1px !important;}
/* Bottom */ .mb2  {margin-bottom: 2px !important;}
/* Bottom */ .mb3  {margin-bottom: 3px !important;}
/* Bottom */ .mb4  {margin-bottom: 4px !important;}
/* Bottom */ .mb5  {margin-bottom: 5px !important;}
/* Bottom */ .mb6  {margin-bottom: 6px !important;}
/* Bottom */ .mb7  {margin-bottom: 7px !important;}
/* Bottom */ .mb8  {margin-bottom: 8px !important;}
/* Bottom */ .mb9  {margin-bottom: 9px !important;}
/* Bottom */ .mb10 {margin-bottom: 10px !important;}
/* Bottom */ .mb15 {margin-bottom: 15px !important;}
/* Bottom */ .mb20 {margin-bottom: 20px !important;}
/* Bottom */ .mb30 {margin-bottom: 30px !important;}
/* end: margin ********************* * * */

/* begin: padding ****************** * * */
/* Top ****/ .pt3  {padding-top: 3px !important;}
/* Top ****/ .pt4  {padding-top: 4px !important;}
/* Top ****/ .pt5  {padding-top: 5px !important;}
/* Top ****/ .pt6  {padding-top: 6px !important;}
/* Top ****/ .pt7  {padding-top: 7px !important;}
/* Top ****/ .pt8  {padding-top: 8px !important;}
/* Top ****/ .pt9  {padding-top: 9px !important;}
/* Top ****/ .pt10 {padding-top: 10px !important;}
/* Top ****/ .pt13 {padding-top: 13px !important;}
/* Top ****/ .pt14 {padding-top: 14px !important;}
/* Top ****/ .pt15 {padding-top: 15px !important;}
/* Top ****/ .pt20 {padding-top: 20px !important;}
/* Top ****/ .pt30 {padding-top: 30px !important;}
/* Left ***/ .pl2  {padding-left: 2px !important;}
/* Left ***/ .pl3  {padding-left: 3px !important;}
/* Left ***/ .pl5  {padding-left: 5px !important;}
/* Left ***/ .pl10 {padding-left: 10px !important;}
/* Left ***/ .pl13 {padding-left: 13px !important;}
/* Left ***/ .pl15 {padding-left: 15px !important;}
/* Right **/ .pr3  {padding-right: 3px !important;}
/* Right **/ .pr5  {padding-right: 5px !important;}
/* Right **/ .pr8  {padding-right: 8px !important;}
/* Right **/ .pr10 {padding-right: 10px !important;}
/* Right **/ .pr15 {padding-right: 15px !important;}
/* Right **/ .pr20 {padding-right: 20px !important;}
/* Bottom */ .pb1  {padding-bottom: 1px !important;}
/* Bottom */ .pb2  {padding-bottom: 2px !important;}
/* Bottom */ .pb3  {padding-bottom: 3px !important;}
/* Bottom */ .pb4  {padding-bottom: 4px !important;}
/* Bottom */ .pb5  {padding-bottom: 5px !important;}
/* Bottom */ .pb6  {padding-bottom: 6px !important;}
/* Bottom */ .pb7  {padding-bottom: 7px !important;}
/* Bottom */ .pb8  {padding-bottom: 8px !important;}
/* Bottom */ .pb9  {padding-bottom: 9px !important;}
/* Bottom */ .pb10 {padding-bottom: 10px !important;}
/* Bottom */ .pb15 {padding-bottom: 15px !important;}
/* Bottom */ .pb20 {padding-bottom: 20px !important;}
/* Bottom */ .pb30 {padding-bottom: 30px !important;}
/* end: padding ******************** * * */

h1 {
	font-size: 2em;
	margin: 1em;
}

/* Tables */
table  {
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table  th {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
}

table td {
	border-width: 1px;
	padding: 5px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
